<template>
  <q-card>
    <q-input v-model="text" filled autogrow />
    <q-btn @click="addHero(text)">Add Hero "{{ text }}"</q-btn>
    <p class="text-h5">get Heroes</p>
    <div v-for="hero in heroes" :key="hero.index">{{ hero.name }}</div>
    <p class="text-h5">observe Heroes</p>
    {{ heroesTwo }}
    <div v-for="hero in heroesTwo" :key="hero.index">
      {{ hero.name }} <q-btn @click="updateHero(hero._rev)">UPDATE</q-btn><q-btn @click="removeHero(hero._rev)">DEL</q-btn>
    </div>
  </q-card>
</template>

<script>
export default {
  name: "RxDBPlayground",
  data() {
    return {
      text: "",
      heroes: [],
      heroesTwo: []
    };
  },
  computed: {
    currentHeroes() {
      const query = this.$db.heroes.find();
      query.$.subscribe(results => {
        return results;
        console.log("got results: " + results.length);
      });
      return false;
    }
  },
  mounted() {
    this.getHeroes();
    this.observeHeroes();
  },
  methods: {
    async addHero(heroname) {
      this.$db.heroes.insert({ name: heroname });
      console.dir(this.$db.heroes);
    },
    getHeroes() {
      this.$db.heroes
        .find()
        .exec()
        .then(documents => (this.heroes = documents));
    },
    observeHeroes() {
      const query = this.$db.heroes.find();
      query.$.subscribe(results => {
        this.heroesTwo = results;
        console.log("got results: " + results.length);
      });
    },
    async updateHero(rev) {
      this.$db.heroes
        .find()
        .where("_rev")
        .eq(rev)
        .update({
          $set: {
            name: 'foobar' // sets firstName to foobar
          }
        });
    },
    async removeHero(rev) {
      this.$db.heroes
        .find()
        .where("_rev")
        .eq(rev)
        .remove();
    }
  }
};
</script>
