<template>
  <q-page>
    <RxDBPlayground />
  </q-page>
</template>

<script>
import RxDBPlayground from "components/admin/RxDBPlayground.vue";

export default {
  name: "Admin",
  components: { RxDBPlayground }
};
</script>
