<template>
  <q-page class="flex flex-center">
    <h1>hey</h1>
    <q-btn to="/admin" label="Admin" />
    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg" />
  </q-page>
</template>

<script>
export default {
  name: "PageIndex"
};
</script>
